# Build results

[Bb]in/
[Oo]bj/

# LLVM IR files
*.bc
*.ll

# Others
prostata/*
ignore/*
tmp/*
temp/*

# Global
*.tmp
*.exe
*.dll
*.a
*.obj
*.o
*.so

# Visual Studio
*.VC.db
*.suo
*.user
.vs/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
